{% extends 'base.html.twig' %}

{% block title %}myShop{% endblock %}

{% block body %}
    {% if app.user %}
    Bonjour {{app.user}}
    <a href="/logout" class="btn btn-secondary">Se Déconnecter</a>
    {% else %}
    Bonjour Invité
    <a href="/login" class="btn btn-secondary">Se Connecter</a>
    <a href="/register" class="btn btn-secondary">Créer un Compte</a>
    {% endif %}
    
    <a href="/product/add" class="btn btn-primary m-2">Ajouter Product +</a>
    <a href="/category/add" class="btn btn-primary m-2">Ajouter Catégorie +</a>
    {% for product in products %}
        <div class="card m-2 p-2">
            <h3>{{product.name}}</h3>
            <small>{{product.Category.name}}</small>
            <img src="uploads{{asset(product.thumbnail)}}" alt="" class="card-img-top">
            <p>{{product.description}}</p>
            <h4>{{product.price}} €</h4>
        </div>
    {% endfor %}
{% endblock %}
